<?xml version="1.0"?>
<config>
  <modules>
    <Paycoingateway_Paycoin>
      <version>0.1.0</version>
    </Paycoingateway_Paycoin>
  </modules>
  <global>
    <models>
      <paycoin>
        <class>Paycoingateway_Paycoin_Model</class>
      </paycoin>
    </models>
    <helpers>
      <paycoin>
        <class>Paycoingateway_Paycoin_Helper</class>
      </paycoin>
    </helpers>
    <blocks>
      <paycoin>
        <class>Paycoingateway_Paycoin_Block</class>
      </paycoin>
    </blocks>
  </global>
  <default>
    <payment>
      <paycoin>
        <model>paycoin/standard</model>
        <active>1</active>
        <title>PaycoinGateway</title>
        <payment_action>authorize</payment_action>
        <callback_secret>generate</callback_secret>
      </paycoin>
    </payment>
  </default>
  <frontend>
    <routers>
      <paycoin>
        <use>standard</use>
        <args>
          <module>Paycoingateway_Paycoin</module>
          <frontName>paycoin</frontName>
        </args>
      </paycoin>
    </routers>
  </frontend>
</config>
